.github/**
.vscode/**
.vscode-test/**
.vscode-test-web/**
src/**
out/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/.jj/**
**/.github/**
**/pnpm-lock.yaml
**/pnpm-workspace.yaml
esbuild.mjs
